// Fonts
$font-family-d2: 'URWGrotesk-Lig';
$font-family-d7: 'URWGrotesk-Reg';
$font-family-d3: 'URWGrotesk-Reg';
$font-family-default: $font-family-d7;
$font-family-bold: $font-family-d7;

// Font Sizes
$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-default: $font-size-md;

// SW Colours
$sw-color-d1: #141414;
$sw-color-d2: #f75467;
$sw-color-d3: #7cc1c6;

// Colours
$color-d1: $sw-color-d2;
$color-d2: $sw-color-d2;
$color-d3: #fff;
$color-d4: #f5f5f5;
$color-d5: #4d4d4d;
$color-d6: #333;
$color-d7: #000;
$color-d8: #666;
$color-d9: #dbdbdb;
$color-d10: #158d8b;
$color-d11: #c00;
$color-d12: #8d708f;
$color-d13: #de0014;
$color-error: $sw-color-d2;

$color-default: $color-d5;

// Spacing
$xs-spacing: 5px;
$sm-spacing: 10px;
$md-spacing: 20px;
$lg-spacing: 30px;
$xl-spacing: 50px;

$default-line-spacing: 18px;
$grid-spacing: $md-spacing;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1280px;

// Opacity
$default-opacity: 0.7;
$modal-opacity: 0.4;

// Forms
$input-padding: 12px;
$inline-input-padding: 35px;
$input-border-radius: 2px;
$icon-height: 22px;
$icon-width: 22px;

// Buttons
$default-button-padding: 15px;
$small-button-padding: $xs-spacing $md-spacing;
$thin-button-padding: 15px $sm-spacing;

// Headings
$heading-1-mob-font-size: 28px;
$heading-2-mob-font-size: 20px;
$heading-3-mob-font-size: 16px;
$heading-4-mob-font-size: 14px;

$heading-1-desktop-font-size: 36px;
$heading-2-desktop-font-size: 28px;
$heading-3-desktop-font-size: 20px;
$heading-4-desktop-font-size: 16px;

$heading-1-mob-line-height: $heading-1-mob-font-size;
$heading-2-mob-line-height: $heading-2-mob-font-size;
$heading-3-mob-line-height: $heading-3-mob-font-size;
$heading-4-mob-line-height: $heading-4-mob-font-size;

$heading-1-desktop-line-height: $heading-1-desktop-font-size;
$heading-2-desktop-line-height: $heading-2-desktop-font-size;
$heading-3-desktop-line-height: $heading-3-desktop-font-size;
$heading-4-desktop-line-height: $heading-4-desktop-font-size;

// Lists
$list-bullet-font-size: 20px;
$list-bullet-positioning: 4px;
$list-bullet-icon-positioning: 0px;

// Container
$container-mobile-y-padding: $lg-spacing;
$container-desktop-y-padding: $lg-spacing;
$container-mobile-width: 80%;
$container-desktop-width: 100%;

// Links
$link-color: $color-d2;
$link-inverse-color: $color-default;
$link-light-color: $color-d3;

// Content Panel
$content-panel-default-padding: $lg-spacing;
$content-panel-thin-padding: $md-spacing;
