/* Main Colours */

$peach: #e88a7f !default;
$peachHover: #bf6c62 !default;
$teal: #7cc1c6 !default;
$tealHover: #5d9094 !default;
$olive: #cfc37a !default;
$oliveHover: #939253 !default;
$red: #ba1313 !default;
$redHover: #751111 !default;
$burgundy: #a1474a !default;
$burgundyHover: #632123 !default;
$pink: #f75467 !default;
$pinkHover: #d34a5a !default;
$monoGrey: #333333 !default;
$monoGreyHover: #4f4f4f !default;
$dustyGrey: #979797 !default;

/* Primary CTA */
// $primaryOne: $pink;
// $primaryOneHover: $pinkHover;
// $primaryTwo: $teal;
// $primaryTwoHover: $tealHover;
// $primaryMono: $monoGrey;
// $primaryMonoHover: $monoHover;


/* Mono Background */
$monoWhite: #ffffff !default;
$monoLightGrey: #f5f5f5 !default;
$monoMidGrey: #cdcccc !default;
$monoDarkGrey: #4f4f4f !default;
$monoDeepGrey: #4f4f4f !default;
$monoDeeperGrey: #444444 !default;
$monoBlack: #141414 !default;
$monoDeepBlack: #000000 !default;






$mobileNavItemsHeading: URWGrotesk-Reg;
$mobileNavItemsSubHeading: URWGrotesk-Lig;
$bannerBold: URWGrotesk-Med;
$banner: URWGroteskCon-Lig;
$mobileTopESpotSize: 42px;

/* fonts*/
$urWReg: URWGrotesk-Reg;
$urWRegMed: URWGrotesk-Med;
$urWRegLig: URWGrotesk-Lig;
$urWRegLigCon: URWGroteskCon-Lig;
$urWRegBolCon: URWGroteskCon-Bol;
$Baskerville:  Baskerville;
$BaskervilleRoman: NewBaskervilleW01-Roman;
$BaskervilleItali: NewBaskervilleW01-Itali;

/* font sizes*/
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font19: 1.1875rem;
$font20: 1.25rem;
$font21: 1.3125rem;
$font22: 1.375rem;
$font23: 1.4375rem;
$font24: 1.5rem;
$font25: 1.5625rem;
$font26: 1.625rem;
$font27: 1.6875rem;
$font28: 1.75rem;
$font29: 1.8125rem;
$font30: 1.875rem;
$font31: 1.9375rem;
$font32: 2rem;
$font33: 2.0625rem;
$font34: 2.125rem;
$font35: 2.1875rem;
$font36: 2.25rem;
$font37: 2.3125rem;
$font38: 2.375rem;
$font39: 2.4375rem;
$font40: 2.5rem;
$font41: 2.5625rem;
$font42: 2.625rem;
$font43: 2.6875rem;
$font44: 2.75rem;
$font45: 2.8125rem;
$font46: 2.875rem;
$font47: 2.9375rem;
$font48: 3rem;
$font49: 3.0625rem;
$font50: 3.125rem;
$font51: 3.1875rem;
$font52: 3.25rem;
$font53: 3.3125rem;
$font54: 3.375rem;
$font55: 3.4375rem;
$font56: 3.5rem;
$font57: 3.5625rem;
$font58: 3.625rem;
