/* Main Colours */
/* Primary CTA */
/* Mono Background */
/* fonts*/
/* font sizes*/
.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 160px;
  border-radius: 60px;
  font-family: URWGrotesk-Reg;
  font-size: 16px;
  letter-spacing: 1.27px;
  text-align: center;
  text-transform: uppercase; }

.disabled {
  border: 2px solid #e88a7f;
  color: #e88a7f;
  letter-spacing: 1.64px; }

.fill {
  background: #333333;
  box-shadow: 0 6px 8px 0 rgba(103, 194, 172, 0.5);
  color: #ffffff;
  letter-spacing: 1.61px; }

.no-fill {
  border: 2px solid #7cc1c6;
  color: #7cc1c6;
  letter-spacing: 1.27px; }
