// src/features/common/Button.scss

@import "../../../styles/variables";

.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 160px;

  border-radius: 60px;

  font-family: $urWReg;
  font-size: 16px;

  letter-spacing: 1.27px;
  text-align: center;

  text-transform: uppercase;
}

.active {
}

.disabled {
  border: 2px solid $peach;

  color: $peach;
  letter-spacing: 1.64px;
}

.fill {
  background: $monoGrey;
  box-shadow: 0 6px 8px 0 rgba(103, 194, 172, 0.5);

  color: $monoWhite;
  letter-spacing: 1.61px;
}

.no-fill {
  border: 2px solid $teal;

  color: $teal;
  letter-spacing: 1.27px;
}